@{
    ViewData["Title"] = "Bem vindo!";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Clique no link abaixo ou na aba "Produtos" no menu de navegação para acessar a lista de produtos.</p>
    <button class="botao"><a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Produtos</a></button>
</div>
